<div class="col-md-12">
    <button (click)="addEmp()" class="btn btn-info"> Add Employee</button>    
  <h2> User Details</h2>  
  <div class="table-responsive table-container">  
    <table class="table" >  
      <thead>  
        <tr>  
          <th>Id</th>  
          <th>Employee Name</th>  
          <th>Salary</th>  
          <th>Age</th>  
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let emp of employees">  
          <td class="hidden">{{emp.id}}</td>  
          <td>{{emp.employee_name}}</td>  
          <td>{{emp.employee_salary}}</td>  
          <td>{{emp.employee_age}}</td>  
          <td>  
            <button (click)="deleteEmp(emp)" class="btn btn-info"> Delete</button>  
            <button (click)="editEmp(emp)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
</div>  